@@@MatterCodeowners @jumartin @jepenven @ricasall @makardou @selissia @rerasool @sashaha @lobelive @naagarwa @chbansal @rosahay @sabollim
@@@Documentation @rerasool @berush @selissia
@@@CICD @yushu @shmakdis @jepenven @makardou @sashaha
@@@Matter @@MatterCodeowners @@Documentation @@CICD

# Pipeline rule
Jenkinsfile @@MatterCodeowners @@CICD
jenkins/ @@MatterCodeowners @@CICD

# Documentation is everyone business
**/*.md @@Documentation @@MatterCodeowners
docs/silabs/ @@Documentation @@MatterCodeowners

CODEOWNERS               @@MatterCodeowners

# Ensure CODEOWNERS is triggered for every PR
* @@MatterCodeowners

# Require at least one reviewer from MatterCodeowners and two from Matter
(Check(@@MatterCodeowners >= 1) & Check(@@Matter >= 2))

OverallCheck(2)
