/***************************************************************************//**
 * GCC Linker script for Silicon Labs devices
 *******************************************************************************
 * # License
 * <b>Copyright 2020 Silicon Laboratories Inc. www.silabs.com</b>
 *******************************************************************************
 *
 * SPDX-License-Identifier: Zlib
 *
 * The licensor of this software is Silicon Laboratories Inc.
 *
 * This software is provided 'as-is', without any express or implied
 * warranty. In no event will the authors be held liable for any damages
 * arising from the use of this software.
 *
 * Permission is granted to anyone to use this software for any purpose,
 * including commercial applications, and to alter it and redistribute it
 * freely, subject to the following restrictions:
 *
 * 1. The origin of this software must not be misrepresented; you must not
 *    claim that you wrote the original software. If you use this software
 *    in a product, an acknowledgment in the product documentation would be
 *    appreciated but is not required.
 * 2. Altered source versions must be plainly marked as such, and must not be
 *    misrepresented as being the original software.
 * 3. This notice may not be removed or altered from any source distribution.
 *
 ******************************************************************************/

{#-
  Device specific sizes and addresses. These variables describes the physical
  memory of the device.
#}
{%- set sram_addr = device_ram_addr | first %}
{%- set sram_size = device_ram_size | first %}
{%- if flash_present %}
	{%- set flash_addr = device_flash_addr | first %}
	{%- set flash_size = device_flash_size | first %}
{%- endif %}
{%- set flash_page_size = device_flash_page_size | first %}


{%- if psram_present %}
	{%- set psram_addr = device_psram_addr | first %}
	{%- set psram_size = device_psram_size | first %}
{%- endif %}

{%- if udma_enable %}
  {%- set udma0_main_size = udma0_size | sum %}
  {%- set udma0_start_addr = udma0 | sum %}
  {%- set udma1_main_size = udma1_size | sum %}
  {%- set udma1_start_addr = udma1 | sum %}
{%- endif %}

{#-
  Application specific sizes. Here we start to calculate the application view
  of the physical memory.
#}
{%- if flash_present %}
	{%- set app_flash_start = flash_addr %}
	{%- set app_flash_end = flash_addr + flash_size %}
{%- endif %}
{%- set app_ram_start = sram_addr %}
{%- set app_ram_end = sram_size %}

{%- if psram_present %}	
	{%- set app_psram_start = psram_addr %}
	{%- if text_segment_in_psram %}
		{#- Adds 0x1000 offset (4096 in decimal) #}
		{%- set psram_start_offset = 4096 %}
		{%- set app_psram_start = psram_addr + psram_start_offset %}
	{%- endif %}	
	{%- set app_psram_end = psram_addr + psram_size %}
{%- endif %}

{#-
  Calculate application flash and ram size based on start and end address.
#}
{%- if flash_present %}
{%- set app_flash_size = app_flash_end - app_flash_start %}
{%- endif %}
{%- set app_ram_size = app_ram_end - app_ram_start %}

{%- if udma_enable %}
  {%- set udma_buffer = udma_buffer | sum %}
  {%- set app_ram_size = app_ram_size - udma_buffer %}
  {%- set udma0_start_addr = app_ram_size + app_ram_start %}
  {%- set udma1_start_addr = udma1_start_addr -  udma_buffer%}
{%- endif %}

{%- if psram_present %}	
	{%- set app_psram_size = app_psram_end - app_psram_start %}
{%- endif %}

{%- set rtt = 0 %}
{% if linker_rtt_section is defined %}
{%-   set rtt = 1 %}
{% endif %}

{%- if nvm3_flash_size %}
	{%- set nvm_size = nvm3_size | first%}
	{%- set app_flash_size = app_flash_size - nvm_size %}
{%- endif %}

{%- if nvm3_enable or littlefs_enable %}
	{%- set nvm_app_max_flash_size = max_flash_size | first %}
{%- endif %}

 MEMORY
 {
{%- if flash_present %}
   rom   (rx)  : ORIGIN = 0x{{ '%0x' % app_flash_start }}, LENGTH = 0x{{ '%0x' % app_flash_size }}
{% endif %}
   ram   (rwx) : ORIGIN = 0x{{ '%0x' % app_ram_start }}, LENGTH = 0x{{ '%0x' % app_ram_size }}
   {%- if psram_present %}
   psram (rwx) : ORIGIN = 0x{{ '%0x' % app_psram_start }}, LENGTH = 0x{{ '%0x' % app_psram_size }}
   {%- endif %}
 }

{%- if udma_enable %}
 MEMORY
 {
   udma0   (rwx)  : ORIGIN = 0x{{ '%0x' % udma0_start_addr }}, LENGTH = 0x{{ '%0x' % udma0_main_size }}
   udma1   (rwx)  : ORIGIN = 0x{{ '%0x' % udma1_start_addr }}, LENGTH = 0x{{ '%0x' % udma1_main_size }}
 }
{%- endif %}

{%- if (nvm3_enable and text_segment_in_psram) %}
_last_rom_location = ORIGIN(rom);
{%- endif %}
{%- if psram_present and psram_linker_config_enabled %}
_last_psram_location = ORIGIN(psram);
_last_ram_location = ORIGIN(ram);
{%- endif %}

ENTRY(Reset_Handler)
 
SECTIONS
{
	.text :
	{
		KEEP(*(.isr_vector))
		. = ALIGN(32);
		{% if (psram_present and psram_linker_config_enabled and ram_execution) %}
		KEEP(*(.reset_handler))	
        *(EXCLUDE_FILE(*sl_si91x_bus.o *sl_si91x_driver.o *sli_si91x_multithreaded.o *rsi_deepsleep_soc.o *rsi_hal_mcu_m4_ram.o *rsi_hal_mcu_m4_rom.o *sl_sleeptimer.o *sl_sleeptimer_hal_si91x_sysrtc.o *rsi_sysrtc.o *sl_si91x_low_power_tickless_mode.o *croutine.o *event_groups.o *list.o *queue.o *stream_buffer.o *tasks.o *timers.o *cmsis_os2.o *freertos_umm_malloc_host.o *malloc_buffers.o *port.o *heap_*.o *sl_si91x_psram.o *rsi_qspi.o *rsi_pll.o *rsi_egpio.o *UDMA.o *sl_rsi_utility.o *ipmu_apis.o *rsi_d_cache.o *sli_si91x_power_manager.o *sl_si91x_power_manager.o *sl_si91x_clock_manager.o	*sli_si91x_clock_manager.o *sl_platform.o) .text*)
		 {%- else %}
			*(EXCLUDE_FILE(*UDMA.o *rsi_d_cache.o).text*)
		{% endif %}        
			 KEEP(*(.init))
			 KEEP(*(.fini))	

		/* .ctors */
		*crtbegin.o(.ctors)
		*crtbegin?.o(.ctors)
		*(EXCLUDE_FILE(*crtend?.o *crtend.o) .ctors)
		*(SORT(.ctors.*))
		*(.ctors)
		
		/* .dtors */
		*crtbegin.o(.dtors)
		*crtbegin?.o(.dtors)
		*(EXCLUDE_FILE(*crtend?.o *crtend.o) .dtors)
		*(SORT(.dtors.*))
		*(.dtors)
		
		*(.rodata*)
		
		KEEP(*(.eh_fram e*))
	{%- if psram_present and text_segment_in_psram %}
		_last_psram_location = .;
	} > psram	
	{%- elif flash_present %}			
	} > rom 
	{%- else %}			
	} > ram 
	{% endif %}	
	
	.ARM.extab : 
	{
		*(.ARM.extab* .gnu.linkonce.armextab.*)
	{%- if psram_present and text_segment_in_psram %}
		_last_psram_location = .;
	} > psram	
	{%- elif flash_present %}			
	} > rom 
	{%- else %}			
	} > ram 
	{% endif %}
	
	__exidx_start = .;
	.ARM.exidx :
	{
		*(.ARM.exidx* .gnu.linkonce.armexidx.*)
	{%- if psram_present and text_segment_in_psram %}
		_last_psram_location = .;
	} > psram	
	{%- elif flash_present %}			
	} > rom 
	{%- else %}			
	} > ram
	{% endif %} 
	__exidx_end = .;
	__etext = .;

{%- if (nvm3_enable and text_segment_in_psram) %}
	__nvm3text = _last_rom_location;
{% endif %}	
	
{% if data_segment_in_psram %}
	{% if psram_present and psram_linker_config_enabled %}
		_slpcode = __etext;

		. = _last_ram_location;

		/* Power save & PSRAM driver code */
		.sleep_psram_driver :
		{
			__sleep_code_start__ = .;
			/* _scode is used in code startup code */
			_scode = __sleep_code_start__;
			. = ALIGN(4);
		{% if ram_execution %}	
			KEEP(*(.ramVector))
	    	*rsi_deepsleep_soc.o(.text*)
	    	*sl_si91x_psram.o(.text*)
	    	*sl_si91x_psram_handle.o(.text*)
	    	*rsi_qspi.o(.text*)
	    	*rsi_pll.o(.text*)
	    	*rsi_egpio.o(.text*)
	    	*rsi_deepsleep_soc.o(.data*)
	    	*sl_si91x_psram.o(.data*)
	    	*sl_si91x_psram_handle.o(.data*)
	    	*rsi_qspi.o(.data*)
	    	*rsi_pll.o(.data*)
	    	*rsi_egpio.o(.data*)
		    *rsi_hal_mcu_m4_ram.o(.text*)
		    *rsi_hal_mcu_m4_rom.o(.text*)
		    *sl_si91x_driver.o(.text*)
		    *sl_si91x_bus.o(.text*)            
		    *sl_sleeptimer.o(.text*)
		    *sl_sleeptimer_hal_si91x_sysrtc.o(.text*) 
		    *rsi_sysrtc.o(.text*)
		    *sl_si91x_low_power_tickless_mode.o(.text*)
		    *sli_si91x_multithreaded.o(.text*)
		    *croutine.o(.text*)
		    *event_groups.o(.text*)
		    *list.o(.text*)
		    *queue.o(.text*)
		    *cmsis_os2.o(.text*)
		    *stream_buffer.o(.text*)
		    *tasks.o(.text*)
		    *timers.o(.text*)
		    *freertos_umm_malloc_host.o(.text*)
		    *malloc_buffers.o(.text*)
		    *sl_rsi_utility.o(.text*)
		    *port.o(.text*)
		    *heap_*.o(.text*)
		    *ipmu_apis.o(.text*)
		    *rsi_d_cache.o(.text*)
		    *sl_si91x_power_manager.o(.text*)
		    *sli_si91x_power_manager.o(.text*)
				*sl_si91x_clock_manager.o(.text*)
				*sli_si91x_clock_manager.o(.text*)
		    *sl_si91x_power_manager.o(.data*)
		    *sli_si91x_power_manager.o(.data*)
				*sl_si91x_clock_manager.o(.data*)
				*sli_si91x_clock_manager.o(.data*)
		    *sl_platform.o(.text*)
		    *UDMA.o(.text*) 
		{% else %}
		    *UDMA.o(.text*)
		    *rsi_d_cache.o(.text*)
		{% endif %}
		    /* ipmu calibration data */
		    *(.common_ipmu_ram*)    	    	    
	    	__sleep_code_end__ = .;
			/* _ecode is used in code startup code */
			_ecode = __sleep_code_end__;	
	    	_last_ram_location = .;
	  	{%- if text_segment_in_psram %}
		} > ram AT> psram
    
	  	/* _sidata is used in code startup code */
		_sidata = __etext + (__sleep_code_end__ - __sleep_code_start__);
		_last_psram_location = _sidata;
		  {%- elif data_segment_in_psram %}
		  } > ram AT> rom

		 /* _sidata is used in code startup code */
		_sidata = __etext + (__sleep_code_end__ - __sleep_code_start__);
		_last_ram_location = _sidata;

	  	{%- elif flash_present %}
	  	} > ram AT> rom
			{%- else %}
	  	} > ram

	  	/* _sidata is used in code startup code */
		_sidata = __etext + (__sleep_code_end__ - __sleep_code_start__);
	    {% endif %}
	{%- else %}
	/* _sidata is used in code startup code */
	_sidata = __etext;
	{% endif %}
{%- else %}
	/* _sidata is used in code startup code */
	_sidata = __etext;
{% endif %}
	
	{%- if psram_present and psram_linker_config_enabled %}
			{%- if data_segment_in_psram %}
	. = _last_psram_location;	
			{%- else %}
	. = _last_ram_location;
			{% endif %}
	{% endif %} 
	
	{%- if psram_present and psram_linker_config_enabled %} 	
	.data . :
	{%- else %}
	.data :
	{% endif %}
	{
		__data_start__ = .;
		
		/* _sdata is used in startup code */
		_sdata = __data_start__;

    {%- if (ram_execution and not data_segment_in_psram) %}
			KEEP(*(.ramVector))
	    	*rsi_deepsleep_soc.o(.text*)
	    	*sl_si91x_psram.o(.text*)
	    	*sl_si91x_psram_handle.o(.text*)
	    	*rsi_qspi.o(.text*)
	    	*rsi_pll.o(.text*)
	    	*rsi_egpio.o(.text*)
	    	*rsi_deepsleep_soc.o(.data*)
	    	*sl_si91x_psram.o(.data*)
	    	*sl_si91x_psram_handle.o(.data*)
	    	*rsi_qspi.o(.data*)
	    	*rsi_pll.o(.data*)
	    	*rsi_egpio.o(.data*)
		    *rsi_hal_mcu_m4_ram.o(.text*)
		    *rsi_hal_mcu_m4_rom.o(.text*)
		    *sl_si91x_driver.o(.text*)
		    *sl_si91x_bus.o(.text*)
            *UDMA.o(.text*)
		    *sl_sleeptimer.o(.text*)
		    *sl_sleeptimer_hal_si91x_sysrtc.o(.text*) 
		    *rsi_sysrtc.o(.text*)
		    *sl_si91x_low_power_tickless_mode.o(.text*)
		    *sli_si91x_multithreaded.o(.text*)
		    *croutine.o(.text*)
		    *event_groups.o(.text*)
		    *list.o(.text*)
		    *queue.o(.text*)
		    *cmsis_os2.o(.text*)
		    *stream_buffer.o(.text*)
		    *tasks.o(.text*)
		    *timers.o(.text*)
		    *freertos_umm_malloc_host.o(.text*)
		    *malloc_buffers.o(.text*)
		    *sl_rsi_utility.o(.text*)
		    *port.o(.text*)
		    *heap_*.o(.text*)
		    *rsi_d_cache.o(.text*)
		    *sl_platform.o(.text*)
		    *sl_si91x_power_manager.o(.text*)
		    *sli_si91x_power_manager.o(.text*)
				*sl_si91x_clock_manager.o(.text*)
				*sli_si91x_clock_manager.o(.text*)
	  		*(.data*)
	  		/* ipmu calibration data */
	  		*(.common_ipmu_ram*)
	  {% elif (not data_segment_in_psram and not ram_execution) %}
	      *UDMA.o(.text*)
	      *rsi_d_cache.o(.text*)
	      *(.data*)
	      /* ipmu calibration data */
	      *(.common_ipmu_ram*)
	  {%- else %}
        *(.data*)
	  {% endif %}
		  
		. = ALIGN(4);
		/* preinit data */
		PROVIDE_HIDDEN (__preinit_array_start = .);
		KEEP(*(.preinit_array))
		PROVIDE_HIDDEN (__preinit_array_end = .);
		
		. = ALIGN(4);
		/* init data */
		
		PROVIDE_HIDDEN (__init_array_start = .);
		KEEP(*(SORT(.init_array.*)))
		KEEP(*(.init_array))
		PROVIDE_HIDDEN (__init_array_end = .);
		
		. = ALIGN(4);
		/* finit data */
		PROVIDE_HIDDEN (__fini_array_start = .);
		KEEP(*(SORT(.fini_array.*)))
		KEEP(*(.fini_array))
		PROVIDE_HIDDEN (__fini_array_end = .);
		
		KEEP(*(.jcr*))
		. = ALIGN(4);
		/* All data end */
		__data_end__ = .;
		
		/* _edata is used in startup code */
		_edata = __data_end__;
	{%- if psram_present and data_segment_in_psram and not text_segment_in_psram and flash_present %}
		_last_psram_location = .;
	} > psram	AT> rom
	{%- elif psram_present and data_segment_in_psram and text_segment_in_psram %}
		_last_psram_location = .;
	} > psram
	{%- elif psram_present and text_segment_in_psram %}	
		_last_ram_location = .;	
	} > ram AT> psram
	{%- elif psram_present and psram_linker_config_enabled and flash_present %}
		_last_ram_location = .;	
	} > ram AT> rom
	{%- elif flash_present %} 
	} > ram AT> rom
	{%- else %} 
	} > ram
	{% endif %}

	{%- if psram_present and psram_linker_config_enabled %}
			{%- if bss_segment_in_psram %}
	. = _last_psram_location;	
			{%- else %}
	. = _last_ram_location;
			{% endif %} 
	{% endif %}	
	
	.bss (NOLOAD) :
	{
		. = ALIGN(4);
		__bss_start__ = .;
		*(.bss*)
		*(COMMON)
		. = ALIGN(4);
		__bss_end__ = .;
	{%- if psram_present and bss_segment_in_psram %}
		_last_psram_location = .;
	} > psram	
	{%- elif psram_present and psram_linker_config_enabled %}
		_last_ram_location = .;			
	} > ram 
	{%- else %} 
	} > ram 
	{% endif %}
		
	{%- if psram_present and psram_linker_config_enabled %}
			{%- if stack_segment_in_psram %}
	. = _last_psram_location;	
			{%- else %}
	. = _last_ram_location;
			{% endif %}
	{% endif %}
	
	.stack (NOLOAD):
	{
		__StackLimit = .;
		KEEP(*(.stack*))
		. = ALIGN(4);
		__StackTop = .;
		PROVIDE(__stack = __StackTop);
	{%- if psram_present and stack_segment_in_psram %}
		_last_psram_location = .;
	} > psram	
	{%- elif psram_present and psram_linker_config_enabled %}	
		_last_ram_location = .;
	} > ram		
	{%- else %}			
	} > ram
	{% endif %}

	{%- if psram_present and psram_linker_config_enabled %}
			{%- if heap_segment_in_psram %}
	. = _last_psram_location;	
			{%- else %}
	. = _last_ram_location;
			{% endif %}
	{% endif %}		
  	.heap (COPY):
  	{
		__HeapBase = .;
		__end__ = .;
		end = __end__;
		_end = __end__;
		KEEP(*(.heap*))
  		{%- if psram_present and heap_segment_in_psram %}
	  	. = ORIGIN(psram) + LENGTH(psram);	
		{%- else %}	
		. = ORIGIN(ram) + LENGTH(ram);
  		{% endif %}
		__HeapLimit = .;
  {%- if psram_present and heap_segment_in_psram %}
  		_last_psram_location = .;
  } > psram	
  {%- else %}			
  	} > ram
  {% endif %}
	__heap_size = __HeapLimit - __HeapBase;


{%- if flash_present %}
{%- if udma_enable %}
	.udma_addr0 :
	{
		*(.udma_addr0*)
	{%- if psram_present and text_segment_in_psram %}
	} > udma0 AT> psram 
	{%- else %}
	} > udma0 AT> rom
	{% endif %}

	.udma_addr1 :
	{
		*(.udma_addr1*)
	{%- if psram_present and text_segment_in_psram %}
	} > udma1 AT> psram 
	{%- else %}		
	} > udma1 AT> rom 
	{%- endif %}
{%- endif %}	
{% endif %}

{%- if flash_present %}
{%- if nvm3_enable %}
  __ram_end__ = 0x{{ '%0x' % app_ram_start }} + 0x{{ '%0x' % app_ram_size }};
  {%- if app_flash_size >= nvm_app_max_flash_size %}
   __main_flash_end__ = 0x{{ '%0x' % app_flash_start }} + 0x{{ '%0x' % nvm_app_max_flash_size }};
   {%- else %}
   __main_flash_end__ = 0x{{ '%0x' % app_flash_start }} + 0x{{ '%0x' % app_flash_size }};
  {% endif %}
	   /* This is where we handle flash storage blocks. We use dummy sections for finding the configured
   * block sizes and then "place" them at the end of flash when the size is known. */
  .internal_storage1 (DSECT) : {
    KEEP(*(.internal_storage1*))
  } > rom
  .nvm (DSECT) : {
    KEEP(*(.simee*))
  } > rom
 
  linker_nvm_end = __main_flash_end__;
  linker_nvm_begin = linker_nvm_end - SIZEOF(.nvm);
  linker_nvm_size = SIZEOF(.nvm);
  linker_storage_end = linker_nvm_begin;
  __nvm3Base = linker_nvm_begin;	
  linker_storage_begin = linker_storage_end - SIZEOF(.internal_storage1);
  linker_storage_size = SIZEOF(.internal_storage1);
 {%- if text_segment_in_psram %}
  ASSERT((linker_storage_begin >= (__nvm3text + SIZEOF(.data))), "FLASH memory overflowed !")
 {%- else %}
  ASSERT((linker_storage_begin >= (__etext + SIZEOF(.data))), "FLASH memory overflowed !")
 {%- endif %} 
 
{%- endif %}  /* nvm3 enable*/
{%- endif %}  /* Flash Present*/

{%- if flash_present %}
{%- if littlefs_enable %}
{%- if nvm3_enable %}
  __main_flash_end__ = linker_nvm_begin;
{%- elif app_flash_size >= nvm_app_max_flash_size %}
  __main_flash_end__ = 0x{{ '%0x' % app_flash_start }} + 0x{{ '%0x' % nvm_app_max_flash_size }};
{%- else %}
  __main_flash_end__ = 0x{{ '%0x' % app_flash_start }} + 0x{{ '%0x' % app_flash_size }};
{%- endif %}
	   /* This is where we handle littlefs flash storage blocks. We use dummy sections for finding the configured
   * block sizes and then "place" them at the end of flash when the size is known. */
  .internal_storage2 (DSECT) : {
    KEEP(*(.internal_storage2*))
  } > rom
  .littlefs (DSECT) : {
    KEEP(*(.ltfs*))
  } > rom
 
  linker_littlefs_end = __main_flash_end__;
  linker_littlefs_begin = linker_littlefs_end - SIZEOF(.littlefs);
  linker_littlefs_size = SIZEOF(.littlefs);
  linker_storage2_end = linker_littlefs_begin;
  __littlefsBase = linker_littlefs_begin;
  linker_storage2_begin = linker_storage2_end - SIZEOF(.internal_storage2);
  linker_storage2_size = SIZEOF(.internal_storage2);
 {%- if text_segment_in_psram %}
  ASSERT((linker_storage2_begin >= (__nvm3text + SIZEOF(.data))), "FLASH memory overflowed !")
 {%- else %}
  ASSERT((linker_storage2_begin >= (__etext + SIZEOF(.data))), "FLASH memory overflowed !")
 {%- endif %}
 
{%- endif %}  /* littlefs_enable */
{%- endif %}  /* Flash Present */
}
